<% include partials/_header %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Admin site</h1>        
            <h1>Customer's orders</h1>    
              <div class="row" style="display: flex; flex-wrap: wrap;">
                <% orders.forEach( (order) => { %>
                <div class="col-md-4 col-sm-6">
                  <div class="thumbnail">
                    <h2 class="caption">Name:<%= order.name %></h2>
                    <h2 class="caption">Address:<%= order.address %></h2>
                    <h4 class="caption">Phone: <%= order.phone %></h4>
                    <h4 class="caption">Des: <%= order.description %></h4>
                    <h4 class="caption">Order: <%= order.order %></h4>
                    <p class="caption" id="deliveredStatus">
                      <i id="<%= order._id %>"class="glyphicon glyphicon-send"></i> Delivered: <%= order.delivered %>
                    </p>
                    <form action="/<%= order._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
                <% }); %>
              </div>
        </div>
    </div>
</div>

<script>
  <% orders.forEach( (order) => { %> 
    $("#<%= order._id %>").click(function() {
      console.log("click");
    });
  <% }); %>
</script>

<% include partials/_footer %>