<% include partials/_header %>

<div class="container">
  
  <div class="row" style="display: flex; flex-wrap: wrap;">
    <div class="col-md-9 col-sm-6">
        <% menu.forEach( (item) => { %>
          <div class="thumbnail">
            <h2 class="caption"><%= item.name %></h2>
            <button id="<%= item._id %>" class="pull-right"><i class="glyphicon glyphicon-plus"></i></button>
            <h4 class="caption">$<%= item.price %></h4>
            <!--<h4 class="caption">$ item._id </h4>-->
          </div>
        <% }); %>
    </div>
    
    <div class="col-md-3" id="orderForm">
        <form class="" action="/user/<%= currentUser._id %>/order" method="POST">
            <h2>Order form</h2>
            <div class="form-group">
                <input type="text" name="name" placeholder=" your name" required>
            </div>
            <div class="form-group">
                <input type="text" name="address" placeholder=" address" required>
            </div>
            <div class="form-group">
                <input type="text" name="phone" placeholder=" phone number" required>
            </div>
            <div class="form-group">
                <input type="textarea" name="description" placeholder=" description" required>
            </div>
            <div class="form-group">
                <input id="orderListInHiddenForm" type="hidden" name="order" required>
            </div>
            <h4 id="specialh4">Your order: $<span id="total-money">0</span></h4>
                <ul id="orderList" style="list-style-type:none">
                    
                </ul>
            <button type="submit" class="btn btn-success">Order</button>
        </form>
    </div>
  </div>
</div>

<script>
  const menu = <%- JSON.stringify(menu) %>;
  
  let itemIdsInCart = [];
  
  function findItem(id) {
    for (let i = 0; i < menu.length; i++) {
      if (menu[i]._id === id) return menu[i];
    }
    return {};
  }
  
  function recalculateTotalPrice() {
    let totalPrice = 0;
    
    for (let i = 0; i < itemIdsInCart.length; i++) {
      const itemPrice = findItem(itemIdsInCart[i]).price;
      totalPrice += itemPrice;
    }
    
    totalPrice = Math.round(totalPrice * 100) / 100;
    return totalPrice;
  }
  
  function convertitemIdsInCartToDisplayable(itemsList) {
    const result = {};
    
    for (let i = 0; i < itemsList.length; i++) {
      result[itemsList[i]] = result[itemsList[i]] ? result[itemsList[i]] + 1 : 1;
    }
    
    return result;
  }
  
  function reprintitemIdsInCart(itemIdsInCartToDisplay) {
    $("#orderList").empty();
    
    for (let key in itemIdsInCartToDisplay) {
      const item = findItem(key);
      $("#orderList").append("<li> x" + itemIdsInCartToDisplay[key] + " " + item.name + " $" +  item.price  + "</li>");
    }
  }
  
  <% menu.forEach( (item) => { %> 
      $("#<%= item._id %>").click(function() {
        itemIdsInCart.push("<%= item._id %>");
        
        const totalPrice = recalculateTotalPrice();
        document.getElementById('total-money').innerHTML = totalPrice;
        
        const itemIdsInCartToDisplay = convertitemIdsInCartToDisplayable(itemIdsInCart);
        reprintitemIdsInCart(itemIdsInCartToDisplay);
        
        $('#orderListInHiddenForm').val($('#orderListInHiddenForm').val() + '<%= item.name %> ' + '<%= item.price %>' + "\t");
      })
  <% }); %>
  
</script>

<% include partials/_footer %>
